* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: aqua;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
}

button {
	width: 200px;
	height: 50px;
	margin-bottom: 50px;
	border-radius: 12px;
	border: none;
}
