* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: aqua;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
}
.items {
	color: orangered;
}
h1 {
	font-size: 60px;
}
.items {
	p {
		font-size: 30px;
		font-style: italic;
		font-weight: bold;
		margin: 20px 0;
	}
}
.item-game {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
	margin-top: 50px;
}
button {
	width: 200px;
	height: 50px;
	margin-bottom: 50px;
	border-radius: 12px;
	border: none;
	box-shadow: 5px 5px 5px black;
	margin: 100px 20px;
	font-size: 20px;
	font-weight: bold;
	color: rgb(128, 57, 57);
	transition: all 0.5s;
}

.rock {
	background-color: orangered;
}
.paper {
	background-color: white;
}

.scissors {
	background-color: lime;
}

button:hover {
	background-color: aqua;
	color: black;
}

.btn-clear:hover {
	background-color: red !important;
}

.result {
	margin: 50px 0;
	font-size: 20px;
	
}
.player {
	color: purple;
	margin: 20px 0;
}

.computer {
	color: red;
}
